@font-face {
    font-family: 'TTLakes';
    src: url('font/TTLakes-Medium.woff') format('woff'),
    url('font/TTLakes-Medium.ttf') format('truetype'),
    url('font/TTLakes-Medium.eot') format('embeddedopentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'TTLakes';
    src: url('font/TTLakes-Bold.woff') format('woff'),
    url('font/TTLakes-Bold.ttf') format('truetype'),
    url('font/TTLakes-Bold.eot') format('embeddedopentype');
    font-weight: 700;
    font-style: normal;
}

.page-container {
    width: 320px;
    height: auto;
    margin: 0 auto;
    background-color: #F8F8F8;
    font-family: "TTLakes";
}

.title {
    width: 320px;
    margin: 0;
    background-image: linear-gradient(-270deg, #F8F8F8 0%, #FFF 98.61%);
}

.title__content {
    margin: 0;
    padding: 16px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    color: #7E7E82;
}

.screen--medium {
    display: none;
}

.screen--small {
    height: auto;
    display: flex;
    overflow: hidden;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 25px;
    position: relative;
}

.price-section {
    width: 260px;
    height: 210px;
    box-sizing: border-box;
    display: block;
    background-color: #FFF;
    border-radius: 10px;
    padding: 10px;
    margin: 0;
    margin-top: 10px;
}

.price-section__header {
    font-size: 14px;
    padding: 0;
    margin: 0;
    color: #7E7E82;
}

.price-section__content {
    font-size: 14px;
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
}

.flex-element {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content:space-between;
}

.swiper-btn {
    display: flex;
    width: 119px;
    height: 28px;
    font-family: "TTLakes";
    margin: 0;
    padding-left: 9px;
    color: white;
    background-color: #FF3E79;
    border: none;
    border-radius: 70px;
    justify-content: space-between;
    box-sizing: border-box;
}

.time {
    display: block;
}

.swiper-btn__text {
    display: block;
    align-self: center;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
}

#pagination {
    position: absolute;
    bottom: 635px;
    z-index: 10;
}

.extrainfo {
    width: 320px;
    height: auto;
    margin: 15px;
}

.extrainfo-btn {
    display: flex;
    border: none;
    background-color: inherit;
    height: 42px;
}

.extrainfo-btn__text {
    display: block;
    width: 190px;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    text-align: start;
    position: relative;
}

.extrainfo-btn__img {
    display: block;
    align-self: flex-end;
    position: absolute;
    left: 445px;
}

@media (min-width: 768px) {
    .page-container {
        width: 768px;
    }
    
    .title {
        width: 768px;
    }

    .screen--small {
        display: none;
    }

    #pagination {
        display: none;
    }

    .screen--medium {
        display: block;
    }

    .prices-table {
        min-width: 768px;
    }

    .table-head {
        display: flex;
        color: #7E7E82;
        font-size: 14px;
        line-height: 3em;
        justify-content: space-between;
    }

    .table-head__row {
        display: block;
        text-align: start;
        padding-left: 10px;
    }

    .table-head__row:nth-child(2) {
        margin-left: 130px;
    }

    .table-head__row:nth-child(3) {
        margin-left: -80px;
    }

    .table-body {
        color: #1B1C21;
        font-size: 14px;
        line-height: 3em;
        background-color: white;
    }

    .table-body__row {
        display: flex;
        color: #7E7E82;
        font-size: 14px;
        line-height: 3em;
        justify-content: space-between;
    }

    .table-body__column:first-child {
        width: 350px;
        padding-left: 10px;
    }

}