@font-face {
    font-family: 'TTLakes';
    src: url('font/TTLakes-Medium.woff') format('woff'),
    url('font/TTLakes-Medium.ttf') format('truetype'),
    url('font/TTLakes-Medium.eot') format('embeddedopentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'TTLakes';
    src: url('font/TTLakes-Bold.woff') format('woff'),
    url('font/TTLakes-Bold.ttf') format('truetype'),
    url('font/TTLakes-Bold.eot') format('embeddedopentype');
    font-weight: 700;
    font-style: normal;
}

.page-container {
    width: 320px;
    margin: 0 auto;
    background-color: #F8F8F8;
    position: relative;
    overflow: hidden; 
}

body {
    margin: 0;
    padding: o;
    padding-bottom: 38px;
    font-family: "TTLakes", "Arial", serif;
    font-style: normal;
    box-sizing: border-box;
}

.title {
    width: 320px;
    margin: 0;
    background: linear-gradient(-270deg, #F8F8F8 0%, #FFF 98.61%);
}

.title__content {
    margin: 0;
    padding: 16px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    color: #7E7E82;
}

.repair-list {
    width: 320px;
    display: flex;
    margin: 0;
    padding: 16px;
}

.repair-list--hidden {
    width: 320px;
    display: flex;
    margin: 0;
    padding: 16px;
    box-sizing: border-box;
    min-width: 0;
} 

.repair-item {
    list-style: none;
    height: auto;
    width: auto;
}

.repair-item__link {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    width: 224px;
    height: 120px;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    background-color: #FFF;
    padding: 16px;
    min-width: 0;
    color: #1B1C21;
}

.repair-item__image {
    display: block;
    align-self: flex-end;
}

.button-container {
    display: none;
}

.swiper-pagination {
    position: relative!important;
}

@media (min-width: 768px) {
    .page-container {
        width: 768px;
        margin: 0 auto;
    }

    .title {
        width: 768px;
    }

    .repair-list {
        width: 768px;
        height: 150px!important;
        display: flex;
        overflow: hidden;
        flex-wrap: wrap;
        box-sizing: content-box;
        gap: 16px;
    }

    .repair-list--hidden {
        width: 768px;
        height: 150px!important;
        display: flex;
        overflow: hidden;
        flex-wrap: wrap;
        box-sizing: content-box;
    }

    .repair-list--unhidden {
        height: 480px!important;
        width: 768px;
        display: flex;
        flex-wrap: wrap;
        box-sizing: content-box;
    }

    .repair-item {
        list-style: none;
        height: auto!important;
        width: auto!important;
    }

    .swiper-slide {
        width: 224px;
    }

    .button-container {
        display: block;
        width: 768px;
        background-color: #F8F8F8;
        padding-top: 24px;
    }

    .button {
        border: none;
        display: flex;
        vertical-align: middle;
        background-color: #F8F8F8;
        align-items: center;
        gap: 10px;
        margin-left: 16px;
    }

    .button-img {
        display: block;
    }

    .button-text {
        display: block;
    }
}

@media (min-width: 1120px) {
    .page-container {
        width: 1120px;
        margin: 0 auto;
    }
    
    .title {
        width: 1120px;
    }
    .repair-list {
        width: 1120px;
    }

    .repair-list--hidden {
        width: 1120px;
        height: 150px!important;
    }

    .repair-list--unhidden {
        height: 310px!important;
    }

    .button-container {
        width: 1120px;
    }

    .repair-list--unhidden {
        width: 1120px;
    }
}
