@font-face {
    font-family: 'TTLakes';
    src: url('font/TTLakes-Medium.woff') format('woff'),
    url('font/TTLakes-Medium.ttf') format('truetype'),
    url('font/TTLakes-Medium.eot') format('embeddedopentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'TTLakes';
    src: url('font/TTLakes-Bold.woff') format('woff'),
    url('font/TTLakes-Bold.ttf') format('truetype'),
    url('font/TTLakes-Bold.eot') format('embeddedopentype');
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: "TTLakes", "Arial", serif;
    font-style: normal;
    color: #1B1C21;
}

.side-bar-container {
    position: fixed;
    width: 320px;
    height: 1024px;
}